section#chat.box-blue
  h2 Chat
  
  p
    | There is(are)
    strong.number-of-users
    |  other researcher(s) online interested in
    strong.chat-area
  
  ul#messages
  
  form.alias-form
    input.alias(type="text", placeholder="enter nickname and hit enter")
    input.btn.btn-blue(type="submit", value="Go")

  form.chat-form
    label(for="text-input") Message:
    input.text-input(type="text", name="text-input", placeholder="Enter message here")
