
form.col-main.box(method="post", action="/")
  h2 What do you want to research?
  input#research-area-input(type="text", name="research[area]")
  input.btn.btn-action.btn-blue(type="submit", value="Go")

div#isHome(style="display:none;")

#current-research-container
script#current-research-template(style='display: none;', type="text/x-mustache")
  h2 Subjects being researched *right now*
  ol
    | {{#results}}
    li
      a(href='/research/{{name}}') {{name}} ({{number}} people)
    | {{/results}}