!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Springer Research - Collaborative knowledge
    link(rel='stylesheet', type='text/css', href='/stylesheets/all.min.css')
  body
    #wrapper
      header#header
        a#logo(href='/')
          img(src='/images/logo_springer.png', alt='Logo Springer')
        #site-label
          img(src='/images/research_label.png', alt='Springer for Research & Development')
      #content     
        .document-main.layout-3               
        
          section!= body
                
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js', type='text/javascript', charset='utf-8')
    script(src='http://github.com/janl/mustache.js/raw/master/mustache.js')
    script(src='/socket.io/socket.io.js', type='text/javascript', charset='utf-8')
    script(src='/javascripts/app.min.js', type='text/javascript', charset='utf-8')
