.col-main
  section
    h2 Research "#{area}"
    p Conduct research on 
      span(style="color:#EE7D11;") #{area} 
      | by searching 
      strong over 6 million documents
      |  on Springer 
    p Mark results as useful by clicking on the tag button.
    div#area-id(style="display:none;") #{area}

  section#search-section
    form#search-form.box
      label(for='search', placeholder='type search here') Search Springer
      input#search(type='text', name='search')
      input#search-button.btn.btn-action.btn-blue(type='submit', value='Search', autocomplete='off')
    section
      #results
      script#template(style='display: none;', type="text/x-mustache")
        ol
          | {{#records}}
          li
            a(href='http://rd.springer.com/{{doi}}') {{title}}
            a.tag(href="#", doi='{{doi}}', title='{{title}}') Tag
          | {{/records}}
      a#load-more Load more    
      a#empty-cache(href='#') Empty saved searches

.col-aside
  include chat.jade

  section#tagged
    include tagged_docs.jade
