#tagged-container
#tagged-template(style='display: none;')
  h2 Documents tagged by other researchers
  ol
    | {{#results}}
    li
      a(href='http://rd.springer.com/{{doi}}') {{title}}
    | {{/results}}