#tagged-container
script#tagged-template(style='display: none;', type="text/x-mustache")
  h2 Documents tagged by other researchers
  ol
    | {{#results}}
    li
      a(href='http://rd.springer.com/{{doi}}') {{title}}
    | {{/results}}