/**
 * BASE
 * basic styling and persistent elements like header, global search and footer
 */

@media screen, projection, handheld {

/* Eric Meyer's CSS Reset modified (http://meyerweb.com/eric/tools/css/reset/)
------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Element
------------------------------------------------------------------------------*/
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}



/* Links
------------------------------------------------------------------------------*/
a {
	color: #0176C3;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #0176C3;
	text-decoration: underline;
}

/* Forms
------------------------------------------------------------------------------*/
button,
input,
select,
textarea {
	color: #666;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
input[type=text],
input[type=password],
textarea {
	background-color: #FFF;
	border: 1px solid #BCBCBC;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: inset 2px 2px 5px #EFEFEF;
	   -moz-box-shadow: inset 2px 2px 5px #EFEFEF;
	        box-shadow: inset 2px 2px 5px #EFEFEF;
	font-size: 13px;
	padding: 4px 3px;
}
input[type=text].placeholder,
input[type=password].placeholder {
	color: #999;
}
input[type=text]:focus,
input[type=password]:focus,
textarea {
	border-color: #0176C3;
	-webkit-box-shadow: 0 0 3px #0176C3;
	   -moz-box-shadow: 0 0 3px #0176C3;
	        box-shadow: 0 0 3px #0176C3;
	outline: none;
}
button,
input[type=button],
input[type=submit],
input[type=image],
label {
	cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* remove button padding in firefox */
	border: 0;
	padding: 0;
}

/* Clearfix
------------------------------------------------------------------------------*/
.browse form:before,
.browse form:after,
.content-item-list li:before,
.content-item-list li:after,
.featured ul:before,
.featured ul:after,
.form-layout-2 .form-row:before,
.form-layout-2 .form-row:after,
.layout-1:before,
.layout-1:after,
.layout-2:before,
.layout-2:after,
.layout-3:before,
.layout-3:after,
.reports-feat-list:before,
.reports-feat-list:after,
.summary:before,
.summary:after,
.tabs:before,
.tabs:after,
#content:before,
#content:after,
#dashboard #upcoming div:before,
#dashboard #upcoming div:after,
#date-facet form:before,
#date-facet form:after,
#footer-nav:before,
#footer-nav:after,
#footer-nav-misc:before,
#footer-nav-misc:after,
#only-searching-within:before,
#only-searching-within:after,
#toolbar:before,
#toolbar:after {
	content: "";
	display: table;
}
.browse form:after,
.content-item-list li:after,
.featured ul:after,
.form-layout-2 .form-row:after,
.layout-1:after,
.layout-2:after,
.layout-3:after,
.summary:after,
.tabs:after,
#content:after,
#dashboard #upcoming div:after,
#date-facet form:after,
#footer-nav:after,
#footer-nav-misc:after,
#only-searching-within:after,
#toolbar:after {
	clear: both;
}
.browse form,
.content-item-list li,
.featured ul,
.form-layout-2 .form-row,
.layout-1,
.layout-2,
.layout-3,
.tabs,
.summary,
#content,
#dashboard #upcoming div,
#date-facet form,
#footer-nav,
#footer-nav-misc,
#only-searching-within,
#toolbar {
	zoom: 1;
}

/* Gradients
------------------------------------------------------------------------------*/
/* hyperlight grey (F8) -> medium grey */
.box-alt .box-header,
.btn,
.expander-title,
.facet-header,
.facet-percentage,
.generate-code,
.js .form-row-editable,
.form-submit-section,
.functions-bar,
.lb .mod-hd,
.tabs,
.default-table th,
.js .entitlements caption:hover,
#cboxTitle {
	background: #E5E5E5 url(../images/grdnt_grey_f8f8f8_e5e5e5.gif) repeat-x;
}
.filtered-message,
#header {
	background: #E5E5E5 url(../images/grdnt_grey_f8f8f8_e5e5e5_l.gif) repeat-x;
}
.box-alt .box-header,
.btn,
.expander-title,
.facet-header,
.facet-percentage,
.filtered-message,
.generate-code,
.js .form-row-editable,
.form-submit-section,
.functions-bar,
.lb .mod-hd,
.tabs,
.default-table th,
.table-actions-bottom,
#cboxTitle,
#header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E5E5E5));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #E5E5E5);
	background-image:    -moz-linear-gradient(top, #F8F8F8, #E5E5E5);
	background-image:     -ms-linear-gradient(top, #F8F8F8, #E5E5E5);
	background-image:      -o-linear-gradient(top, #F8F8F8, #E5E5E5);
	background-image:         linear-gradient(top, #F8F8F8, #E5E5E5);
}


/* hyper-hyper-light grey -> light grey (F3) */
.js .entitlements caption:hover,
a.verticals-tab:hover,
a.verticals-tab:focus,
.sortable-table th:hover {
    background: #ededed url(../images/grdnt_grey_fafafa_ededed.gif) repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
    background-image:    -moz-linear-gradient(top, #fafafa, #ededed);
    background-image:     -ms-linear-gradient(top, #fafafa, #ededed);
    background-image:      -o-linear-gradient(top, #fafafa, #ededed);
    background-image:         linear-gradient(top, #fafafa, #ededed);
}

/* Med grey to white */
.tabs li.active span {
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.75, #E9E9E9), color-stop(1.15, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #E9E9E9 75%, #FFFFFF 115%);
    background-image:    -moz-linear-gradient(top, #E9E9E9 75%, #FFFFFF 115%);
    background-image:     -ms-linear-gradient(top, #E9E9E9 75%, #FFFFFF 115%);
    background-image:      -o-linear-gradient(top, #E9E9E9 75%, #FFFFFF 115%);
    background-image:         linear-gradient(top, #E9E9E9 75%, #FFFFFF 115%);
}
/* dark blue */
.bar-actions,
.btn-blue,
#reader-actions-bar {
	background: #0277C4 url(../images/grdnt_blue_38a0e5_0277c4.gif) repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#38A0E5), to(#0277C4));
	background-image: -webkit-linear-gradient(top, #38A0E5, #0277C4);
	background-image:    -moz-linear-gradient(top, #38A0E5, #0277C4);
	background-image:     -ms-linear-gradient(top, #38A0E5, #0277C4);
	background-image:      -o-linear-gradient(top, #38A0E5, #0277C4);
	background-image:         linear-gradient(top, #38A0E5, #0277C4);
}
.ie9 .bar-actions,
.ie9 .btn.btn-blue,
.ie9 #reader-actions-bar {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#38A0E5, EndColorStr=#0277C4)";
}
/* light blue */
.add-association .highlight-area,
.box-blue,
#jsnotice,
#chrome-prompt {
	background: #B3DCF5 url(../images/grdnt_blue_d7ecfa_b3dcf5.gif) repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D7ECFA), to(#B3DCF5));
	background-image: -webkit-linear-gradient(top, #D7ECFA, #B3DCF5);
	background-image:    -moz-linear-gradient(top, #D7ECFA, #B3DCF5);
	background-image:     -ms-linear-gradient(top, #D7ECFA, #B3DCF5);
	background-image:      -o-linear-gradient(top, #D7ECFA, #B3DCF5);
	background-image:         linear-gradient(top, #D7ECFA, #B3DCF5);
}
.ie9 .add-association .highlight-area,
.ie9 .box-blue,
.ie9 #jsnotice {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#D7ECFA, EndColorStr=#B3DCF5)";
}



/* Hiding
------------------------------------------------------------------------------*/
.hidden {
	display: none !important;
	visibility: hidden;
}
.js-hidden {
	display: none;
}

/*Springer research*/
h1, h2 {
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	font-weight: normal;
	letter-spacing: .02em;
	line-height: 1.2;
}
h1 {
	font-size: 30px;
	margin: 7px 0 14px;
}
h1 span {
    color: #999;
}
h2 {
	font-size: 24px;
	margin: 7px 0;
}
h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 7px 0 5px;
}
/* special headline with gradient */
h1,h2 {
	-webkit-box-shadow: inset 0 -1px 0 0 #FFF, inset 0 -18px 18px -18px #EFEFEF;
	   -moz-box-shadow: inset 0 -1px 0 0 #FFF, inset 0 -18px 18px -18px #EFEFEF;
	        box-shadow: inset 0 -1px 0 0 #FFF, inset 0 -18px 18px -18px #EFEFEF;
	border-bottom: 1px solid #D7D6D6;
	margin-bottom: 10px;
	padding: 0 4px 7px;
}
.col-aside,
.col-main {
	display: inline;
	float: left;
}
/* layout 1 (4/8, e.g. home) */
.layout-1 .col-aside {
	margin-right: 14px;
	width: 306px;
}
.layout-1 .col-main {
	float: right;
	width: 626px;
}
#industry-sector.layout-1 .col-main {
	margin-right: 35px;
	width: 591px;
}
/* layout 2 (3/9, e.g. results) */
.layout-2 .col-aside {
	margin-right: 14px;
	width: 226px;
}
.layout-2 .col-main {
	float: right;
	width: 706px;
}
/* layout 3 (8/4, e.g. abstract) */
.layout-3 .col-main {
	margin-left: 20px;	
	position: relative;
	width: 534px;
}
.layout-3 .has-enumeration {
    padding-top: 16px;
}
.layout-3 .has-full-enumeration {
    padding-top: 33px;
}
.layout-3 .col-aside {
	margin-top:10px;
	margin-left: 40px;
	width: 330px;
}
/* layout 4 (~7, e.g. info) */
.layout-4 {
	padding: 10px 320px 54px 42px;
}
/* layout 5 (1 column) */
.layout-5 {
    padding: 0 42px;
}
.document-main {
		position: relative;
}
#chat {
		display: none;
}
header ol {
		margin: 24px 0 ;
}
header ol li {
		margin: 4px 0;
}
.document-main section {
		clear: both;
}
.layout-3 form.box h2 {
	font: 16px arial;
	margin: 0 0 14px 0;
}
.layout-3 form.box {
		width: 470px;
		margin-bottom: 40px;
}
.layout-3 form.box input[type="text"] {
		width: 280px;
}
.layout-3 form.box input[type="submit"] {
		margin-left: 7px;
		height: 25px;
		padding: 0 14px;
		width:100px;
}

form.home input[type="submit"]{
	width:auto !important;
}

#current-research-container {

}
#current-research-container h2 {
		font-size: 15px;
}
#search {
	margin: 0 0 0 14px;
}
#tagged-container li,
#results li {
		border-bottom: 1px solid #dadbdb;
		margin: 4px 0;
		padding: 0 0 7px 0;
		float:left;
		width:100%;
}
#results li a:first-child {
		display: inline-block;
		width: 490px;
}
#results li a.tag {
		float: right;		
		font-weight: bold;
}
#empty-cache:before,
#load-more:before,
#results li a.tag:before {
	content: '» ';
}
#load-more {
		color: #EE7D11;
		cursor:  pointer;
		display: inline-block;
		margin: 14px 45px 0 0;
}
#empty-cache {
		color: #555555;
		display: inline-block;
}
#chat h2 {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border-bottom: none;
	margin: 0 0 7px 0;
	padding: 0;
}
#chat p {
		margin-bottom: 7px;
}
#chat input[type="text"] {
		margin-right: 8px;
		width: 242px;
}
#chat input[type="submit"] {
}
.chat-form label {
		display: block;
		margin: 0 0 4px 0;
}
#messages {
		background: #fff;
		height: 200px;
		margin: 7px 2px;
		overflow-y: auto;
		padding: 7px;
}


/* Body
------------------------------------------------------------------------------*/
body {
	background: #F1F1F1 url(../images/bg.png);
	color: #333;
	font: 13px Arial, Helvetica, sans-serif;
}

/* Wrapper
------------------------------------------------------------------------------*/
#wrapper {
	background-color: #FFF;
	-webkit-box-shadow: 0 0 4px #BBB;
	   -moz-box-shadow: 0 0 4px #BBB;
	        box-shadow: 0 0 4px #BBB;
	margin: 0 auto;
	width: 960px;
}
.ie6 #wrapper,
.ie7 #wrapper,
.ie8 #wrapper {
	border: 1px solid #E2E2E2;
	border-width: 0 1px;
}

/* Header
------------------------------------------------------------------------------*/
#header {
	border-bottom: 1px solid #DBDADA;
	min-height: 36px;
	padding-top: 48px;
	position: relative;
}
.ie6 #header {
	height: 36px;
}
/* springer logo */
#header #logo {
	position: absolute; left: 28px; top: 20px;
}
/* site label */
#header #site-label {	
	height: 22px;
	margin: 0;
	position: absolute; left: 290px; top: 27px;
}
#header #site-label img {
	border-left: 2px solid #EB7125;
	position: absolute; right: 0; top: 0;
	padding: 5px 0 5px 18px;
}

/* Content
------------------------------------------------------------------------------*/
#content {
	-webkit-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
	   -moz-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
	        box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
	padding: 14px 7px 50px;
}

} /* media type */

#tagged-container{
	margin:20px 0;
}

ol.home{
	margin:1em 0 2em 0;
	padding:0em 2em 0 2em;
}

form.home{
	margin: 1em 2em 0 2em;
	width: 860px !important;
}

.home label{
	font-weight:bold;
	width:300px;
	font-size:1.3em;
	padding-right:15px;
}

#research-area-input{
	width:500px;
}

#current-research-container h2{
	font-size:2em;
	margin:0em 1em 1em 1em;
}

#current-research-container ol{
	float:left;
	margin:0 2em 0 2em;
}

#current-research-container li{
	float:left;
	font-size:1.2em;
	margin-right:10px;
}

#search-form{
	margin:1.9em 0 2em 0;
	width:504px;
}

ol.home li{
	font-size:1.5em;
	padding:0.5em;
}

.col-main p{
	margin:10px 0;
}

.longer{
	width:294px !important;
}

/**
 * MODULES
 * reusable components
 */

@media screen, projection, handheld {


/* Buttons
------------------------------------------------------------------------------*/
/* basics (grey) - essential class for every button, other .btn-* are optional */
.btn {
	border: 1px solid #BCBCBC;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	   -moz-box-shadow: inset 0 1px 0 #FFF;
	        box-shadow: inset 0 1px 0 #FFF;
	color: #666;
	font-size: 13px;
	display: inline-block;
	height: 23px;
	padding: 1px 10px 0;
	white-space: nowrap;
}
button.btn {
	height: 24px; /* needs height including the 2 px for the border */
	padding-top: 0;
}
.btn:hover,
.btn:focus,
.btn:active {
	border-color: #999;
	color: #333;
	text-decoration: none;
}
.btn:active,
.btn.act {
	-webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
	   -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
	        box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
}
.ie9 .btn:active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(direction=0,color=#000000,strength=5);";
}
/* blue version */
.btn-blue {
	border-color: #0176C3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	color: #FFF;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.act {
	border-color: #015E9B;
	color: #bbdcf2;
}

/* Success and error message
------------------------------------------------------------------------------*/
.success-message {
	background: #F6E9EF url(../images/error_icon.png) no-repeat 6px 7px;
	border: 1px solid #A82764;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	color: #A82764;
	display: block;
	font-size: 11px;
	font-style: italic;
	line-height: 1.3 !important;
	padding: 6px 6px 6px 33px;
}
.error-message {
    background: url(../images/cross_error.png) no-repeat 6px center #fff;
    border: 1px solid #c40606;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px ;
    -webkit-box-shadow: 3px 3px 5px -3px #ccc;
       -moz-box-shadow: 3px 3px 5px -3px #ccc;
            box-shadow: 3px 3px 5px -3px #ccc;
    color: #C30000;
    display: block;
    font-size: 11px;
    line-height: 1.2;
    margin: 0;
    padding: 7px 12px 7px 26px;
}
input.error-message {
	background: #FFFFFF none;
	border: 1px solid #BCBCBD;
	color: #666666;
	display: block;
	font-size: 13px;
	font-style: normal;
	line-height: 15px;
	padding: 3px 3px 3px 3px;
}
.success-message {
	background-color: #F1F6E6;
	background-image: url(../images/success_icon.png);
	border-color: #71AB0B;
	color: #71AB0B;
}
.error {
    color: #c30000;
}
/* in a field */
.field {
	position: relative; z-index: 99;
}
/*Darius - Removed error highlight on both date inputs as well as pagination inputs as this is always autocorrected on submission */
.field .error-message {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .14);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .14);
	        box-shadow: 0 0 5px rgba(0, 0, 0, .14);
    line-height: 1.5;
	margin-left: -90px; /* half the outer width - 2px => for centering */
	position: absolute; left: 50%; bottom: 28px; /* left 50% is for centering */
	width: 137px;
	word-wrap: break-word;
}
.field .error-message:after {
	background: url(../images/error_tooltip_down.png) no-repeat;
	content: '';
	display: block;
	height: 13px;
	margin-left: -12px;
	position: absolute; left: 50%; bottom: -13px;
	width: 25px;
}

/* Blue box
------------------------------------------------------------------------------*/
.box-blue {
	border: 1px solid #70BCED;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #FFF;
	   -moz-box-shadow: inset 0 1px 0 0 #FFF;
	        box-shadow: inset 0 1px 0 0 #FFF;
	padding: 13px;
}

/* Box (on the home page)
------------------------------------------------------------------------------*/
.box {
	border: 1px solid #DBDADA;
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	        box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	margin-bottom: 20px;
	padding: 15px;
}
.box:last-child {
	margin-bottom: 0;
}
.box-header {
	font-size: 28px;
	line-height: 1.15;
	margin: 0 0 25px;
}
/* alternative box */
.box-alt {
	padding: 8px 7px;
}
.box-alt .box-header {
	font-size: 12px;
	font-weight: bold;
	margin: -8px -7px 8px -7px;
	padding: 6px 7px;
}

/* Form layout 2 */
.form-layout-2.form-section {
    display: inline-block;
    max-width: 555px; /* To give 555px for form width */
    padding: 20px 0 0 0;
}
.form-layout-2 .form-row {
    clear: both;
    padding: 0 28px 0 20px;
    position: relative;
}
.form-layout-2 .form-row label {
    clear: none;
    display: inline-block;
    margin: 14px 26px 14px 0;
    padding: 0;
    text-align: right;
    width: 110px;
}
.form-layout-2 .form-row label.error {
    display: block;
    margin: 0 0 7px 135px;
    max-width: 320px;
    text-align: left;
    width: 100%;
}
.ie6 .form-layout-2 .form-row label.error {
    width: 300px;
}
.form-layout-2 .form-row p {
    display: inline-block;
    padding: 4px 0;
    max-width: 320px;
}
.form-layout-2 .form-section-divider {
    border-top: 1px solid #dbdada;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
       -moz-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
            box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
    padding:5px 28px 14px 20px;
}
.form-layout-2 .form-row .warning-message,
.form-layout-2 .form-row .warning-message a {
    color: #c40606;
}
.form-layout-2 .form-row .warning-message a {
    text-decoration: underline;
}
.form-layout-2 .form-row .warning-message,
.form-layout-2 .form-row .success-message {
    background: none;
    border: none;
    clear: both;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 14px 140px;
    padding: 0;
}
.form-layout-2 .form-row input[type="text"],
.form-layout-2 .form-row input[type="password"] {
    display: inline-block;
    margin-left: -5px;
    width: 318px;
}
.form-layout-2 .form-row span.label {
    color: #666666;
    display: inline-block;
    font-weight: bold;
    margin: 14px 26px 14px 0;
    padding: 0;
    text-align: right;
    width: 110px;
}

/*** NEW GENERIC FORM COMPONENTS ***/
/*** selectors with overflow hidden should be added to the clearfix in base.css ***/
/* form field */
.form-field {
	margin-top: 14px;
}
.form-field label {
	color: #666;
	font-weight: bold;
}
.form-field input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	margin: 4px 0;
	width: 100%;
}
/* form fields in a 2 column layout */
.form-fields-col2 {
	overflow: hidden;
}
.form-fields-col2 .form-field {
	float: left;
	width: 47%;
}
.form-fields-col2 .form-field + .form-field {
	margin-left: 6%;
}
.form-section > .form-field:first-child,
.form-section > .form-fields-col2:first-child .form-field {
	margin-top: 0;
}
/* form submit */
.form-submit {
	margin-top: 14px;
	overflow: hidden;
}
.form-submit .btn {
	float: left;
}
.form-submit a,
.form-submit span {
	float: right;
	line-height: 24px; /* for vertical centering (=height of a standard button) */
}

.also-tagged{
	width:100%;
	float:left;
	display:block;
	margin:0;
	padding:0;
}

#tagged-container .also-tagged li{
	display:block;
	color:grey !important; 
	font-weight:bold !important;
	margin:4px 10px 0 0;
	padding:0 0 0 15px !important;
	border:0 !important;
	width:auto;
	background:url('/images/tag_icon.gif') no-repeat;
}

#tagged-container .also-tagged li a{
	float:left;
}

form{
	position:relative;
}

label.error{
	position:absolute;
	top: 50px;
	border: 1px solid #DBDADA;
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	        box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	padding: 10px;
	width:135px;
	background:white;
	font-weight:bold;
	font-size:1em;
	text-align:center;
}

} /* media type */
