/**
 * MODULES
 * reusable components
 */

@media screen, projection, handheld {


/* Buttons
------------------------------------------------------------------------------*/
/* basics (grey) - essential class for every button, other .btn-* are optional */
.btn {
	border: 1px solid #BCBCBC;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	   -moz-box-shadow: inset 0 1px 0 #FFF;
	        box-shadow: inset 0 1px 0 #FFF;
	color: #666;
	font-size: 13px;
	display: inline-block;
	height: 23px;
	padding: 1px 10px 0;
	white-space: nowrap;
}
button.btn {
	height: 24px; /* needs height including the 2 px for the border */
	padding-top: 0;
}
.btn:hover,
.btn:focus,
.btn:active {
	border-color: #999;
	color: #333;
	text-decoration: none;
}
.btn:active,
.btn.act {
	-webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
	   -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
	        box-shadow: inset 0 5px 5px rgba(0, 0, 0, .35);
}
.ie9 .btn:active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(direction=0,color=#000000,strength=5);";
}
/* blue version */
.btn-blue {
	border-color: #0176C3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
	color: #FFF;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.act {
	border-color: #015E9B;
	color: #bbdcf2;
}

/* Success and error message
------------------------------------------------------------------------------*/
.success-message {
	background: #F6E9EF url(../images/error_icon.png) no-repeat 6px 7px;
	border: 1px solid #A82764;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	color: #A82764;
	display: block;
	font-size: 11px;
	font-style: italic;
	line-height: 1.3 !important;
	padding: 6px 6px 6px 33px;
}
.error-message {
    background: url(../images/cross_error.png) no-repeat 6px center #fff;
    border: 1px solid #c40606;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px ;
    -webkit-box-shadow: 3px 3px 5px -3px #ccc;
       -moz-box-shadow: 3px 3px 5px -3px #ccc;
            box-shadow: 3px 3px 5px -3px #ccc;
    color: #C30000;
    display: block;
    font-size: 11px;
    line-height: 1.2;
    margin: 0;
    padding: 7px 12px 7px 26px;
}
input.error-message {
	background: #FFFFFF none;
	border: 1px solid #BCBCBD;
	color: #666666;
	display: block;
	font-size: 13px;
	font-style: normal;
	line-height: 15px;
	padding: 3px 3px 3px 3px;
}
.success-message {
	background-color: #F1F6E6;
	background-image: url(../images/success_icon.png);
	border-color: #71AB0B;
	color: #71AB0B;
}
.error {
    color: #c30000;
}
/* in a field */
.field {
	position: relative; z-index: 99;
}
/*Darius - Removed error highlight on both date inputs as well as pagination inputs as this is always autocorrected on submission */
.field .error-message {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .14);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .14);
	        box-shadow: 0 0 5px rgba(0, 0, 0, .14);
    line-height: 1.5;
	margin-left: -90px; /* half the outer width - 2px => for centering */
	position: absolute; left: 50%; bottom: 28px; /* left 50% is for centering */
	width: 137px;
	word-wrap: break-word;
}
.field .error-message:after {
	background: url(../images/error_tooltip_down.png) no-repeat;
	content: '';
	display: block;
	height: 13px;
	margin-left: -12px;
	position: absolute; left: 50%; bottom: -13px;
	width: 25px;
}

/* Blue box
------------------------------------------------------------------------------*/
.box-blue {
	border: 1px solid #70BCED;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #FFF;
	   -moz-box-shadow: inset 0 1px 0 0 #FFF;
	        box-shadow: inset 0 1px 0 0 #FFF;
	padding: 13px;
}

/* Box (on the home page)
------------------------------------------------------------------------------*/
.box {
	border: 1px solid #DBDADA;
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	   -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	        box-shadow: 3px 3px 5px rgba(0, 0, 0, .08);
	margin-bottom: 20px;
	padding: 15px;
}
.box:last-child {
	margin-bottom: 0;
}
.box-header {
	font-size: 28px;
	line-height: 1.15;
	margin: 0 0 25px;
}
/* alternative box */
.box-alt {
	padding: 8px 7px;
}
.box-alt .box-header {
	font-size: 12px;
	font-weight: bold;
	margin: -8px -7px 8px -7px;
	padding: 6px 7px;
}

/* Form layout 2 */
.form-layout-2.form-section {
    display: inline-block;
    max-width: 555px; /* To give 555px for form width */
    padding: 20px 0 0 0;
}
.form-layout-2 .form-row {
    clear: both;
    padding: 0 28px 0 20px;
    position: relative;
}
.form-layout-2 .form-row label {
    clear: none;
    display: inline-block;
    margin: 14px 26px 14px 0;
    padding: 0;
    text-align: right;
    width: 110px;
}
.form-layout-2 .form-row label.error {
    display: block;
    margin: 0 0 7px 135px;
    max-width: 320px;
    text-align: left;
    width: 100%;
}
.ie6 .form-layout-2 .form-row label.error {
    width: 300px;
}
.form-layout-2 .form-row p {
    display: inline-block;
    padding: 4px 0;
    max-width: 320px;
}
.form-layout-2 .form-section-divider {
    border-top: 1px solid #dbdada;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
       -moz-box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
            box-shadow: inset 0 1px 0 0 #FFF, inset 0 18px 18px -18px #EFEFEF;
    padding:5px 28px 14px 20px;
}
.form-layout-2 .form-row .warning-message,
.form-layout-2 .form-row .warning-message a {
    color: #c40606;
}
.form-layout-2 .form-row .warning-message a {
    text-decoration: underline;
}
.form-layout-2 .form-row .warning-message,
.form-layout-2 .form-row .success-message {
    background: none;
    border: none;
    clear: both;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 14px 140px;
    padding: 0;
}
.form-layout-2 .form-row input[type="text"],
.form-layout-2 .form-row input[type="password"] {
    display: inline-block;
    margin-left: -5px;
    width: 318px;
}
.form-layout-2 .form-row span.label {
    color: #666666;
    display: inline-block;
    font-weight: bold;
    margin: 14px 26px 14px 0;
    padding: 0;
    text-align: right;
    width: 110px;
}

/*** NEW GENERIC FORM COMPONENTS ***/
/*** selectors with overflow hidden should be added to the clearfix in base.css ***/
/* form field */
.form-field {
	margin-top: 14px;
}
.form-field label {
	color: #666;
	font-weight: bold;
}
.form-field input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	margin: 4px 0;
	width: 100%;
}
/* form fields in a 2 column layout */
.form-fields-col2 {
	overflow: hidden;
}
.form-fields-col2 .form-field {
	float: left;
	width: 47%;
}
.form-fields-col2 .form-field + .form-field {
	margin-left: 6%;
}
.form-section > .form-field:first-child,
.form-section > .form-fields-col2:first-child .form-field {
	margin-top: 0;
}
/* form submit */
.form-submit {
	margin-top: 14px;
	overflow: hidden;
}
.form-submit .btn {
	float: left;
}
.form-submit a,
.form-submit span {
	float: right;
	line-height: 24px; /* for vertical centering (=height of a standard button) */
}


} /* media type */
